<div class="row">
  <div class="col m6">
      <div class="card-panel">
        <p>Token  :{{lastToken.content}}</p>
       <p>Created   :{{lastToken.created}}</p>

        <button ng-click="renewToken()" class="waves-effect waves-light btn">Get token</button>
       </div>
  </div>
</div>
<div class="row">
  <div class="col m6">
    <div class="card-panel">

      <button ng-click="fetchNewRes()" class="waves-effect waves-light btn">Get new Reservation</button>
    </div>
  </div>
  <div class="col m6">
    <div class="card-panel">
      <input type="text" ng-model="date.dtfrom" placeholder="From">
      <input type="text" ng-model="date.dto" placeholder="To">
      <button ng-click="getRemoteDate(date)" class="waves-effect waves-light btn">Get new Reservation</button>
    </div>
  </div>

</div>s
<div class="row">
  {{response}}
</div>

