

<section id="sign-in">

  <!-- Sign In Form -->
  <form >
    <div class="row links">
      <div class="col s6 logo">
        <img src="assets/_con/images/logo-white.png" alt="">
      </div>
      <div class="col s6 right-align"><strong>Sign In</strong> / <a href="page-sign-up.html">Sign Up</a>
      </div>
    </div>

    <div class="card-panel clearfix">

      <div class="row">
        <div class="col"></div>
      </div>

      <!-- Username -->
      <div class="input-field">
        <i class="fa fa-user prefix"></i>
        <input ng-model="user.username" id="username-input" type="text" class="validate">
        <label for="username-input">Username</label>
      </div>
      <!-- /Username -->

      <!-- Password -->
      <div class="input-field">
        <i class="fa fa-unlock-alt prefix"></i>
        <input ng-model="user.password" id="password-input" type="password" class="validate">
        <label for="password-input">Password</label>
      </div>
      <!-- /Password -->

      <div class="switch">
        <label>
          <input type="checkbox" checked />
          <span class="lever"></span>
          Remember
        </label>
      </div>

      <button ng-click="login(user)" class="waves-effect waves-light btn-large z-depth-0 z-depth-1-hover">Sign In</button>
    </div>

    <div class="links right-align">
      <a href="page-forgot-password.html">Forgot Password?</a>
    </div>

  </form>
  <!-- /Sign In Form -->

</section>
