<h2>Prenotazioni del mese</h2>


<div class="row">
  <div class="col l4 s12">
    <a href="#" class="card-panel stats-card indigo lighten-2 indigo-text text-lighten-5">
      <i class="fa fa-eur"></i>
      <span class="count">{{earnings | currency : '€ '}}</span>
      <div class="name">Totale del mese</div>
    </a>
  </div>
  <div class="col l4 s12">
    <a href="#" class="card-panel stats-card blue lighten-2 blue-text text-lighten-5">
      <i class="fa fa-bed"></i>
      <span class="count">{{room_nights}}</span>
      <div class="name">Letti</div>
    </a>
  </div>
  <div class="col l4 s12">
    <div class="card-panel stats-card teal lighten-2 green-text text-lighten-5">

      <i class="fa fa-spinner"></i>
      <span class="count">{{average  | currency : '€ '}}</span>
      <div class="name">Prezzo notte per persona</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col l12 s12">

<div class="card-panel">

  <table datatable="ng" class="row-border hover">
   <thead>
    <th></th>
    <th>Check-in</th>
    <th>Check-out</th>
    <th>Guest</th>
    <th>Phone</th>
    <th>Price</th>
    <th>Rooms</th>
   </thead>
    <tbody>
        <tr ng-repeat="res in reservations">
          <td><a ng-href="#/reservation_detail/{{res.reservation_code}}">{{res.reservation_code}}</a></td>
          <td>{{res.date_arrival | amDateFormat:'DD/MM/YYYY'}}</td>
          <td>{{res.date_departure | amDateFormat:'DD/MM/YYYY'}}</td>
          <td>{{res.customer_name + " "+ res.customer_surname}}</td>
          <td>{{res.customer_phone}}</td>
          <td>{{res.amount | currency : '€ '}}</td>
          <td><room rooms="res.rooms"  list="roomList"></room>
          </td>
        </tr>
    </tbody>
  </table>
</div>
    </div>
</div>
