<div class="row">
  <div class="col m6">
      <div class="card-panel">
  <h4>CheckIn</h4>
    <table class="row-border hover">
      <thead>
      <th></th>
      <th>Guest</th>
      <th>Phone</th>
      <th>Price</th>
      <th>Rooms</th>
      </thead>
      <tbody>
      <tr ng-repeat="res in checkin">
        <td><a ng-href="#/reservation_detail/{{res.reservation_code}}">Info</a></td>
        <td>{{res.customer_name + " "+ res.customer_surname}}</td>
        <td>{{res.customer_phone}}</td>
        <td>{{res.amount}}</td>
        <td>{{res.rooms}}</td>
      </tr>
      </tbody>
    </table>
      </div>
  </div>
  <div class="col m6">
    <div class="card-panel">
      <h4>CheckOut</h4>
      <table class="row-border hover">
        <thead>
        <th></th>
        <th>Guest</th>
        <th>Phone</th>
        <th>Price</th>
        <th>Rooms</th>
        </thead>
        <tbody>
        <tr ng-repeat="res in checkout">
          <td><a ng-href="#/reservation_detail/{{res.reservation_code}}">Info</a></td>
          <td>{{res.customer_name + " "+ res.customer_surname}}</td>
          <td>{{res.customer_phone}}</td>
          <td>{{res.amount}}</td>
          <td>{{res.rooms}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
