<div class="nav-wrapper" ng-controller="NavbarCtrl">

  <!-- Sidebar toggle -->
  <a href="#" class="yay-toggle">
    <div class="burg1"></div>
    <div class="burg2"></div>
    <div class="burg3"></div>
  </a>
  <!-- Sidebar toggle -->

  <!-- Logo -->
  <a href="#" class="brand-logo">
    <img src="../assets/_con/images/logo{{settings.navbar.dark?'-white':''}}.png" alt="Con">
  </a>
  <!-- /Logo -->

  <ul >
    <li ng-if="!isLoggedin"><a ng-href="#/signin.html">Login</a></li>
    <li ng-if="!isLoggedin" ><a ng-href="#/signup.html">Signup</a></li>
    <li ng-if="isLoggedin" ><a href ng-click="logout()">Logout {{currentUser.firstName}}</a></li>
  </ul>


</div>

